:root {
  --main-font-family: Roboto, sans-serif;
  --main-font-size: 14px;
  --main-line-height: 1.71;
  --logo-font-family: Raleway, Roboto, sans-serif;
  --logo-font-size: 26px;
  --main-letter-spacing: 0.03em;

  --main-font-color: #757575;
  --title-font-color: #212121;
  --logo-font-color: #000000;
  --main-light-color: #ffffff;
  --contacts-font-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --a-accent-color: #2196f3e6;
  --active-bg-button-color: #188ce8;
  --main-dark-color: #2f303a;
  --a-main-dark-color: rgba(47, 48, 58, 0.8);
  --secondary-bg-color: #f5f4fa;
  --header-border-color: #ececec;
  --brand-main-color: #afb1b8;
  --footer-media-bg-color: rgba(255, 255, 255, 0.1);
  --input-border-color: rgba(255, 255, 255, 0.3);
  --placeholder-text-color: rgba(255, 255, 255, 0.6);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);

  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* * {
  outline: 1px solid teal;
} */

/* Зкиданния */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

main img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

fieldset,
textarea {
  padding: 0;
  margin: 0;
  border: none;
}

/* Загальні стилі */

body {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);

  color: var(--main-font-color);
  background-color: var(--main-light-color);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container--flex-centered {
  align-items: center;
  justify-content: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;

  color: var(--title-font-color);
}

.logo {
  display: inline-block;

  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: var(--logo-font-size);
  line-height: 1.174;
  letter-spacing: var(--main-letter-spacing);

  color: var(--logo-font-color);
}

.logo__accent {
  color: var(--accent-color);
}

.logo--inverted-color {
  color: var(--main-light-color);
}

.unvisible {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Шапка */

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 93px;
}

.nav__links-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.nav__link {
  position: relative;
  display: block;

  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color var(--main-transition);

  padding-top: 32px;
  padding-bottom: 31px;

  color: var(--title-font-color);
}

.nav__link--active-link {
  color: var(--accent-color);
}

.nav__link--active-link::after {
  content: '';

  position: absolute;
  bottom: calc(0% - 1px);
  left: -3px;

  width: calc(100% + 6px);
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav__contacts {
  margin-left: auto;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 50px;
}

.nav__contact {
  column-gap: 10px;
  align-items: center;

  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color var(--main-transition);

  color: inherit;

  fill: currentColor;
}

.nav__icon-smartphone {
  margin-bottom: 1px;
}

.nav__link:hover,
.nav__contact:hover,
.nav__link:focus,
.nav__contact:focus {
  color: var(--accent-color);
  fill: currentColor;
}

/* Хіро */

.main__hero {
  margin: 0 auto;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;

  padding-left: 15px;
  padding-right: 15px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--main-light-color);
}

.hero__button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;

  padding: 10px 32px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color var(--main-transition);

  color: var(--main-light-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--active-bg-button-color);
}

/* Переваги */

.section--half-padding-bottom {
  padding-bottom: calc(94px / 2);
}

.section--half-padding-top {
  padding-top: calc(94px / 2);
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  flex: 0 0 calc((100% - 90px) / 4);
}

.benefits__picture {
  padding: calc((120px - 70px) / 2) 0;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.benefits__icon {
  display: block;

  width: 70px;
  height: 70px;

  margin: 0 auto;
}

.subtitle {
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-font-color);
}

.benefits__name {
  margin-top: 30px;
}

.benefits__description {
  margin-top: 10px;
}

/* Що ми робимо */

.doing__list {
  margin-top: 50px;
}

.doing__header {
  font-size: inherit;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  text-transform: uppercase;

  width: 100%;
  padding: 27px 15px;

  color: var(--main-light-color);
  background-color: var(--a-main-dark-color);
}

.overlayed-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.overlayed-list__overlayed__item {
  position: relative;
}

.overlayed-list__name {
  position: absolute;
  bottom: 0;
}

/* Команда */

.team {
  background-color: var(--secondary-bg-color);
}

.team__list {
  margin-top: 50px;
}

.people-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.people-cards__card {
  flex: 0 0 270px;

  background-color: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0 0 4px 4px;
}

.people-cards__member {
  padding: 30px 32px;
}

.people-cards__name {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;

  font-weight: 500;

  color: var(--title-font-color);
}

.people-cards__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
}

.team__position {
  margin-top: 10px;
}

.people-cards__socials {
  margin-top: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;

  max-height: 44px;

  gap: 10px;

  color: var(--brand-main-color);
}

.social-list__link {
  display: block;
  padding: 12px;

  color: inherit;

  transition: fill var(--main-transition), background-color var(--main-transition);

  fill: currentColor;
  border-radius: 50%;
}

.social-list__link:hover,
.social-list__link:focus {
  fill: var(--main-light-color);

  background-color: var(--accent-color);
}

.social-list__icon {
  display: block;
  width: 20px;
  height: 20px;
}

/* Постійні клієнти */

.brands-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers__list {
  margin-top: 50px;
}

.brands-list__item {
  flex: 0 0 170px;
}

.brands-list__link {
  display: block;

  transition: color var(--main-transition), fill var(--main-transition),
    background-color var(--main-transition);

  padding: calc((90px - 60px) / 2) 0;
  border: 1px solid currentColor;
  border-radius: 4px;

  color: var(--brand-main-color);
  fill: currentColor;
}

.brands-list__link:hover,
.brands-list__link:focus {
  color: var(--accent-color);
}

.brands-list__icon {
  display: block;
  margin: 0 auto;

  width: 106px;
  height: 60px;
}

/* Роботи */

.works__filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.works__filters-button {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: var(--main-letter-spacing);

  transition: color var(--main-transition), background-color var(--main-transition),
    padding var(--main-transition), box-shadow var(--main-transition);

  color: var(--title-font-color);
  background-color: var(--secondary-bg-color);

  border-radius: 4px;
  cursor: pointer;
}

.works__filters-button:hover,
.works__filters-button:focus {
  padding: 6px 25px;

  color: var(--main-light-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works__list {
  margin-top: 50px;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-grid__list-item {
  flex: 0 0 370px;
}

.portfolio-card {
  display: inline-block;

  transition: box-shadow var(--main-transition);

  color: inherit;
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-card__picture {
  position: relative;

  overflow: hidden;
}

.portfolio-card:hover .portfolio-card__info,
.portfolio-card:focus .portfolio-card__info {
  transform: translateY(0%);
}

.portfolio-card__info {
  position: absolute;
  top: 0;
  transform: translateY(100%);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: var(--main-letter-spacing);

  overflow: hidden;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  transition: transform var(--main-transition);

  color: var(--main-light-color);
  background-color: var(--a-accent-color);
}

.portfolio-card__description {
  padding: 20px 23px 19px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-card__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-font-color);
}

.portfolio-card__type {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: var(--main-letter-spacing);
}

/* Підвал */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--main-dark-color);
}

.flex-container--baselined {
  align-items: baseline;
}

.flex-container--big-gap {
  column-gap: 93px;
}

.address {
  margin-top: 20px;
}

.address__list {
  font-style: normal;
}

.footer__address-item:not(:first-child) {
  margin-top: 6px;
}

.address__contact {
  display: inline-block;

  transition: color var(--main-transition);

  color: var(--contacts-font-color);
}

.address__contact--light-contact,
.address__contact:hover,
.address__contact:focus {
  color: var(--main-light-color);
}

.footer-medias__header {
  font-size: inherit;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: var(--main-letter-spacing);
  text-transform: uppercase;

  color: var(--main-light-color);
}

.footer-medias__social-list {
  margin-top: 20px;
}

.social-list__link--light-icons {
  color: var(--main-light-color);
}

.social-list__link--dark-bg {
  background-color: var(--footer-media-bg-color);
}

/* Розсилка */

.form-mailing {
  color: var(--main-light-color);
}

.form-mailing__description {
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: var(--main-letter-spacing);
  text-transform: uppercase;
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
}

.form-mailing__user-info {
  margin-top: 20px;
}

.user-info__email-input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--main-letter-spacing);

  padding: 14px 15px;

  outline: none;

  transition: border var(--main-transition);

  border: 1px solid var(--input-border-color);
  border-radius: 4px;

  width: 358px;

  color: inherit;
  background-color: transparent;
}

.user-info__email-input:focus {
  border: 1px solid var(--main-light-color);
}

.user-info__email-input::placeholder {
  color: var(--placeholder-text-color);
}

.user-info__button-submit {
  display: flex;
  align-items: center;
  column-gap: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  padding: 10px 27px 10px 34px;

  border-radius: 4px;

  transition: background-color var(--main-transition);
  opacity: 1;

  color: inherit;
  background-color: var(--accent-color);
  fill: currentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.user-info__button-submit:hover,
.user-info__button-submit:focus {
  background-color: var(--active-bg-button-color);
}

.user-info__icon-mailing {
  width: 24px;
  height: 24px;
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-bg-color);

  transform: scale(1);

  transition: opacity var(--main-transition), visibility var(--main-transition),
    transform var(--main-transition);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  min-width: 528px;
  min-height: 581px;
  padding: 8px;

  background-color: var(--main-light-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close-button {
  margin-left: auto;
}

.close-button {
  position: relative;

  display: block;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 30px;
  width: 30px;

  transition: border var(--main-transition);
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  border: 1px solid var(--accent-color);
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  top: 7.5px;
  left: 14px;
  width: 1px;
  height: 12px;
  color: var(--logo-font-color);
  background-color: currentColor;

  transition: background-color var(--main-transition);
}

.close-button:hover::before,
.close-button:hover::after,
.close-button:focus::before,
.close-button:focus::after {
  color: var(--accent-color);
  background-color: currentColor;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.modal__form-callback {
  padding: 0 32px 32px;
}

.modal__legend {
  display: block;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);

  color: var(--title-font-color);
}

.modal__input-item:first-of-type {
  margin-top: 12px;
}

.modal__input-item:not(:first-of-type) {
  margin-top: 10px;
}

.modal__input {
  margin-top: 4px;
}

.input-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-item__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input-item__input {
  color: var(--title-font-color);
  resize: none;

  padding: 11px 11px 11px 40px;

  transition: border var(--main-transition);

  border: 1px solid #21212133;
  border-radius: 4px;
}

.input-item__icon {
  position: absolute;
  top: 50%;
  left: 10px;
}

.input-icon {
  width: 18px;
  height: 18px;

  color: var(--title-font-color);
  fill: currentColor;
  transition: fill var(--main-transition);

  display: inline-block;
}

.input-item__input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-item__textarea {
  color: var(--title-font-color);
  resize: none;

  padding: 9px 15px;

  transition: border var(--main-transition);

  border: 1px solid #21212133;
  border-radius: 4px;
}

.input-item__input:focus,
.input-item__textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.input-item__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__callback-agreement {
  margin-top: 20px;
}

.callback-agreement {
  text-align: center;
}

.callback-agreement__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.callback-agreement__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.callback-agreement__checkbox {
  margin-bottom: 3px;

  margin-right: 8px;
}

.checkbox {
  position: relative;

  flex: 0 0 16px;

  width: 16px;
  height: 15px;

  cursor: pointer;
}

.checkbox__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.icon-non-check {
  display: inline-block;

  width: 100%;
  height: 100%;

  opacity: 1;
  fill: var(--title-font-color);

  transition: fill var(--main-transition), opacity var(--main-transition);
}

.callback-agreement__input:focus + .checkbox .icon-non-check {
  fill: var(--accent-color);
}

.icon-check {
  display: inline-block;

  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity var(--main-transition);
}

.callback-agreement__input:checked + .checkbox .icon-non-check {
  opacity: 0;
}

.callback-agreement__input:checked + .checkbox .icon-check {
  opacity: 1;
}

.callback-agreement__acception-link,
.callback-agreement__acception-link:visited {
  color: var(--accent-color);
  position: relative;
}

.callback-agreement__acception-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;

  width: 100%;
  height: 1px;

  transition: opacity var(--main-transition);

  background-color: var(--accent-color);
}

.callback-agreement__acception-link:hover::after,
.callback-agreement__acception-link:focus::after {
  opacity: 0;
}

.callback-agreement__callback-submit {
  margin: 30px auto 0;
}

.callback-submit {
  display: block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  padding: 10px 52px;

  transition: background-color var(--main-transition);

  color: var(--main-light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;

  cursor: pointer;
}

.callback-submit:hover,
.callback-submit:focus {
  background-color: var(--active-bg-button-color);
}
